@media screen and (max-width:770px) {
    .chatScreen h1{
        display: none !important;
    }
    .chatScreen{
        flex-direction: column;
    }
    .msgType{
        padding: 0 !important;
    }
    
}